/*  your css code here. If applicable */
body {
    margin: 0;
    background: seagreen;
    font-family: Arial, sans-serif;
}

.main {
    width: 90vw;
    margin: 10px;
    border: 2px solid black;
    background: seagreen;
    padding: 2px;
}

/* Create table-like layout using CSS */
.row {
    display: table;
    width: 90vw;
    margin-bottom: 10px;
	padding: 1px;
    border-collapse: collapse;
}

.cell {
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
}

/* Images */
.cell img {
    width: 100px;
    height: 120px;
    object-fit: cover;
}

/* Center Cell Text */
.center {
    text-align: center;
	margin:10px;
}

.cell side{
	width: 100vw
}

/* Objective */
.objective h2 {
    margin-bottom: 10px;
}
